[Desktop Entry]
Type=Application
Exec=sh -c 'sleep 10 && glava --desktop'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Glava Audio Visualizer Vertical Bar Mode
Name=Glava Audio Visualizer Vertical Bar Mode
Comment[en_US]=Glava Audio Visualizer Vertical Bar Mode
Comment=Glava Audio Visualizer Vertical Bar Mode
